<mat-accordion>
  <mat-expansion-panel *ngFor="let list of mangalist"(click)="isRedered(list.i)">

    <mat-expansion-panel-header>
      <mat-panel-title>
        {{list.t}}
      </mat-panel-title>
      <mat-panel-description class="list-alias">
        {{list.a}}
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="list-image">
      <img src="{{url}}">
    </div>
    <div class="list-details">
      TEXT
    </div>

    <mat-chip-list>
      <mat-chip *ngFor="let genre of list.c" class="list-chip">{{genre}}</mat-chip>
    </mat-chip-list>

    <div class="list-discription" [innerHTML]='discription'>
      {{discription}}
    </div>

  </mat-expansion-panel>
</mat-accordion>

<mat-paginator [length]="total"
              [pageSize]="25"
              [pageSizeOptions]="pageSizeOptions"
              (page)="pageEvent = $event"
              (click)="getPage(pageEvent)">
</mat-paginator>
