.list-alias {
  width: 400px;
  flex: initial;
}

.list-discription {
  padding: 10px 10px;
  margin: 10px 0px;
  background: #04888c;
  color: white;
  border-radius: 5px;
}

.list-chip {
  color: #fff;
  background: #03acb1;
  letter-spacing: 0.3px;
}

.list-image {
  width: 350px;
  height: 350px;
  background: red;
  margin-bottom: 10px;
}

img {
  height:100%;
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #e8e8e8fc
}
